.video-thumbnail__footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 8px 0 5px 0;
  gap: 8px;
}

.video-thumbnail__footer span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.video-thumbnail__footer span svg {
  opacity: 0.75;
  height: 12px;
  width: 12px;
}

.video-thumbnail__title {
  font-size: var(--h4);
  color: var(--white);
  font-weight: 500;
}

.video-thumbnail__circle {
  background-color: var(--white);
  border-radius: 50%;
  opacity: 0.5;
  height: 3px;
  width: 3px;
}

.video-thumbnail__detail {
  color: var(--white);
  opacity: 0.75;
}

.video-thumbnail__img-container {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.video-thumbnail__img {
  display: block;
  height: 100%;
  width: 100%;
}

.video-thumbnail__img-overlay {
  position: absolute;
  transition: opacity 0.25s ease-in-out;
  background-color: hsla(0, 0%, 0%, 0.5);
  height: 100%;
  width: 100%;
  opacity: 0;
  left: 0;
  top: 0;
}

.video-thumbnail__img-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: none;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  font-size: var(--h4);
  color: var(--white);
  background-color: hsla(0, 100%, 100%, 0.25);
  padding: 9px 24px 9px 9px;
  border-radius: 28.5px;
  font-weight: 500;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
  gap: 18px;
}

.video-thumbnail__bookmark {
  position: absolute;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out;
  background-color: hsla(223, 30%, 9%, 0.5);
  border-radius: 50%;
  height: 32px;
  width: 32px;
  right: 16px;
  z-index: 3;
  top: 16px;
}

.video-thumbnail__bookmark svg {
  transition: stroke 0.25s ease-in-out;
  max-height: 14px;
  width: auto;
}

.video-thumbnail__bookmark:hover {
  background-color: var(--white);
}

.video-thumbnail__bookmark:hover svg path {
  stroke: var(--black);
}

.video-thumbnail__bookmark:hover svg#bookmarked path {
  fill: var(--black);
}

.video-thumbnail__img-container:hover .video-thumbnail__img-overlay,
.video-thumbnail__img-container:hover .video-thumbnail__img-button {
  opacity: 1;
}

@media (max-width: 500px) {
  .video-thumbnail__footer span {
    gap: 4px;
  }

  .video-thumbnail__footer span svg {
    height: 10px;
    width: 10px;
  }
}
