.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--blue-dark);
  border-radius: 20px;
  padding: 32px 28px;
  height: 100vh;
  max-height: 960px;
  margin-right: 36px;
}

.sidebar__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 75px;
  flex-grow: 1;
  gap: 40px;
}

.sidebar__link:hover svg path {
  transition: fill 0.25s ease-in-out;
  fill: var(--red);
}

.sidebar__link--active svg path {
  fill: var(--white);
}

.sidebar__avatar {
  border: 1px solid var(--white);
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

@media (max-width: 768px) {
  .sidebar {
    height: auto;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 20px 24px;
    width: 100%;
  }

  .sidebar__links,
  .sidebar {
    flex-direction: row;
    flex-grow: 0;
    margin: 0;
  }

  .sidebar__links {
    gap: 32px;
  }

  .sidebar__avatar {
    height: 32px;
    width: 32px;
  }
}

@media (max-width: 500px) {
  .sidebar {
    padding: 16px;
    border-radius: 0;
  }

  .sidebar__links svg {
    display: block;
    height: 16px;
    width: 16px;
  }

  .sidebar__links {
    gap: 24px;
  }

  .sidebar__avatar {
    width: 24px;
    height: 24px;
  }

  .sidebar__logo {
    max-width: 25px;
    display: block;
    height: auto;
  }
}
