.trending__title {
  font-size: var(--h1);
  color: var(--white);
  margin-bottom: 24px;
  font-weight: 300;
}

.trending__row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  border-radius: 8px;
  padding-bottom: 12px;
  gap: 40px;
}

.trending {
  margin-bottom: 40px;
}

.trending__row::-webkit-scrollbar {
  border-radius: 10px;
  height: 8px;
  width: 8px;
}

.trending__row::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  border-radius: 10px;
}

@media (max-width: 500px) {
  .trending__title {
    letter-spacing: var(--h1-ls);
    margin-bottom: 16px;
  }

  .trending__row {
    gap: 16px;
  }

  .trending {
    margin-bottom: 24px;
  }
}
