.video-group__title {
  font-size: var(--h1);
  color: var(--white);
  margin-bottom: 32px;
  font-weight: 300;
}

.video-group__grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  row-gap: 32px;
  column-gap: 40px;
}

@media (max-width: 768px) {
  .video-group__title {
    margin-bottom: 24px;
  }
}

@media (max-width: 600px) {
  .video-group__grid {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }
}

@media (max-width: 500px) {
  .video-group__title {
    letter-spacing: var(--h1-ls);
  }

  .video-group {
    margin: 0 16px;
  }

  .video-group__grid {
    gap: 16px;
  }
}
